header {
    background-color: rgb(39, 39, 39);
    color:whitesmoke;
    padding:20px;
}

a {
    color:black;
    text-decoration: none;
}

#card2 {
    display:none;
}

.weeklyweather {
    background-color:rgb(44, 153, 255);
    border-radius:10px;
}